.header {
    display: flex; 
    align-items: center;
    margin-bottom: 20px;
  }
  
.headerImage {
    width: 100px;
    border-radius: 90%;
  }
  
.headerTitle {
    margin-left: 10px;
    font-size: 25px;
  }