.product-selection {
    margin-bottom: 10px;
    text-align: center;
}

.quantity {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

.order-form {
    text-align: center;
    border-top: 1px solid;
}

.product-selection select {
    margin-left: 20px;
    margin-right: 20px;
}

button {
    margin-left: 20px;
    margin-right: 20px;
}